/*------------------MAIN FONT------------------*/

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

* {
  text-decoration: none;
}

/*---------------RESET INDENTATION--------------*/

* {
  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: #f4f7f6 rgba(47, 79, 79, 0.5);
}

/*-----------------SCROLL-STYLE----------------*/

*::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  background: #f4f7f6;
}

*::-webkit-scrollbar-thumb {
  background-color: #f4f7f6;
  border-radius: 0.3rem;
  border: 0.4rem solid rgba(47, 79, 79, 0.5);
}
}

/*-------------------DESKTOP--------------------*/


/*--------------------HEADER--------------------*/

body {
  min-width: 320px;
}

.header {
  position: relative;

  text-align: center;

  color: #ffffff;
  background-image: url("../images/banner-desk-bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f4f4f;

  box-shadow: 0 0.5rem 0.5rem #2f4f4f;
}

.header::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #000000;
  opacity: 0.6;
}

.header__container {
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1166px;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header__logo {
  z-index: 2;

  width: 12rem;
}

.header__logo img {
  width: 100%;
  filter: drop-shadow(0 0 1rem #000000);
    -webkit-filter: drop-shadow(0 0 1rem #000000);
}

.menu {
  position: relative;
  z-index: 3;
}

.menu-burger {
  display: none;
}

.menu-burger:checked + .burger__button {
  position: fixed;
}

.menu-burger:checked + .burger__button span {
  transform: rotate(225deg);

  background-color: #c1caca;
}

.menu-burger:checked + .burger__button span::before {
  top: 0;
  transform: rotate(-90deg);

  background-color: #c1caca;
}

.menu-burger:checked + .burger__button span::after {
  top: 0;
  transform: rotate(90deg);

  background-color: #c1caca;
}

.menu-burger:checked ~ .menu-list {
  right: 0;
  visibility: visible;
}

.burger__button {
  position: static;
  top: 6vw;
  right: 4.1vw;
  z-index: 1;

  display: none;
  align-items: center;
  width: 1.6rem;
  height: 1.1rem;
}

.burger__button span,
.burger__button span::before,
.burger__button span::after {
  position: absolute;

  display: block;
  width: 1.6rem;
  height: 0.2rem;

  background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(00, 00, 00, 0.7);

  transition-duration: 0.50s;
}

.burger__button span::before {
  content: '';

  top: -0.5rem;
}

.burger__button span::after {
  content: '';

  top: 0.5rem;
}

.menu-list {
  display: flex;

  list-style-type: none;
}

.menu-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.menu__link__box:nth-child(n+2) {
  margin-left: 2rem;
}

.menu__link {
  font-size: 1rem;

  color: inherit;
  text-transform: uppercase;
  text-shadow: 0 0.25rem 0.25rem #000000;
  transition: 0.2s;
}

.menu__link:hover {
  color: #c1caca;
}

.menu__link:active {
  color: rgba(47, 79, 79, 0.5);
  text-shadow: 0 0 0.25rem #000000;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  border: 0; */
}

.header__title {
  z-index: 2;

  width: 43rem;
  margin: 0 auto;

  font-size: 2rem;
  line-height: 1.6;

  text-shadow: 0 0.5rem 0.5rem #000000;
  text-transform: uppercase;
}

/*---------------------MAIN---------------------*/

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 2rem auto 0;
}

.section-title {
  margin: 1rem 0;

  font-size: 1.2rem;
  text-align: center;

  text-shadow: 0 0.25rem 0.25rem #2f4f4f;
  text-transform: uppercase;
}

.post {
  display: flex;
  padding: 1rem;

  border-radius: 1rem 3rem;
  background-color: #f4f7f6;
  box-shadow: 0 0.15rem 0.15rem #2f4f4f;
}

.post__tegs {
  display: flex;
}

.side__tegs {
  flex-shrink: 0;
  margin-right: 1rem;
  width: 25%;
}

.side__tegs .field {
  width: 90%;
  margin: 0.2rem 5% 0.7rem;
}

.interior__locations p,
.location__label p {
  width: 100%;

  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
}

.add__location {
  order: 1000;
}

.location__label {
  order: 1001;
}

.teg-search-buttons,
.regions-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
}

.teg-search,
.all-locations,
.region,
.location {
  flex-grow: 1;
  margin: 0.2rem;
  height: 1.8rem;

  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: none;
  line-height: 0.8;
  color: #2f4f4f;

  border: 3px solid rgba(49, 79, 79, 0.1);
  border-radius: 0.7rem 0.2rem;
  box-shadow: 0 0.1rem 0.1rem #2f4f4f;
  filter: none;
  transition: 0.2s;
}

.teg-search:hover,
.all-locations:hover,
.region:hover,
.location:hover {
  cursor: pointer;
  border-color: #c1caca;
}

.teg-search:active,
.all-locations:active,
.region:active,
.location:active {
  background-color: #c1caca;
  box-shadow: 0 0 0.1rem #2f4f4f;
}

.teg-search__activated {
  background-color: #c1caca;
}

.teg-search:last-child {
  flex-grow: 0;
  padding: 0 0.7rem;
}

.type-of-search .teg-search {
  flex-grow: 1;
  padding: 0;
}

.teg-search#reset {
  color: #969393;
}

.all-locations {
  width: 100%;
  margin-bottom: 1rem;
}

.region,
.location {
  width: 43%;
}

.location__defocus {
  width: 20%;
  margin: 0.1rem;
  height: 1.2rem;

  font-size: 0.5rem;
  color: #97a7a7;
}

.all-interior-locations {
  margin-bottom: 0.5rem;
}

.interior__locations {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  list-style-type: none;

  border-radius: 1rem 1rem 3rem 3rem;
  background-color: #f4f7f6;
  box-shadow: 0 0.15rem 0.15rem #2f4f4f;
}

.location__label {
  width: 100%;
}

.specifications {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 0;

  color: #2f4f4f;
  list-style-type: none;
}

.specification {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  width: 6rem;

  border: 0.3rem solid #c1caca;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.25rem #2f4f4f;
}

.specification-title {
  display: block;
  margin-bottom: 0.6rem;

  font-size: 0.7rem;
  text-transform: uppercase;
}

.field,
.description__field {
  -webkit-appearance: none;
  -moz-appearance: none;

  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  resize: vertical;

  font-size: 1rem;

  color: #2f4f4f;
  border: 0.1rem solid #ffffff;
  border-radius: 0.3rem;
  box-shadow: 0 0.15rem 0.15rem #2f4f4f;
  transition: 0.2s;
}

.description__field {
  height: 8rem;
}

.field:focus,
.description__field:focus {
  border: 0.1rem solid #2f4f4f;
  outline: none;
}

.small-field {
  width: 30%;
}

.middle-field {
  width: 50%;
}

.large-field {
  width: 80%;
}

.radio {
  display: none;
}

.radio__box {
  display: flex;
  flex-flow: column;
}

.radio__text {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.radio__text:hover {
  cursor: pointer;
}

.radio__text::before {
  content: "";

  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.3rem;

  background-image: url("../svg/form-empty-circle-bw.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.1rem;
  transition: 0.2s;
}

.radio:checked + .radio__text::before {
  background-image: url("../svg/form-circle-bw.svg");
}

.slides {

}

.create__card {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 3rem;

  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;

  color: #ffffff;
  border: none;
  border-radius: 0.3rem;
  background-color: #737373;
  text-transform: uppercase;
  text-shadow: 0 0.15rem 0.15rem #2f4f4f;
  box-shadow: 0 0.15rem 0.15rem #2f4f4f;
}

.create__card:hover {
  background-color: #4d4d4d;
  cursor: pointer;
  transition: 0.2s;
}

.create__card:active {
  background-color: #97a7a7;
  box-shadow: 0 0rem 0.15rem #2f4f4f;
}

/*-------------------TABLET-------------------*/

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-tablet-bw.jpg");
  }

  .header__container {
    width: 91vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .header__logo {
    width: 12rem;
  }

  .menu-burger:checked + .burger__button {
    top: 4.22rem;
    right: 4.5vw;
  }

  .burger__button {
    position: absolute;
    display: flex;
    top: -1rem;
    right: 0;
  }

  .menu-list {
    position: fixed;
    visibility: hidden;

    flex-flow: column;
    align-items: flex-start;
    top: 0;
    right: -100%;

    width: 18rem;
    height: auto;
    max-height: 70%;
    margin: 0;
    padding: 6rem 0;

    color: #c1caca;
    background-color: rgba(53, 53, 53, 0.8);
    overflow: scroll;

    transition-duration: 0.5s;
  }

  .menu__link__box {
    padding: 1rem 4rem;
  }

  .menu__link__box:nth-child(n+2) {
    margin-left: 0;
  }

  .menu__link {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .header__title {
    width: 80vw;
  }

  .page-content {
    width: 94vw;
    margin: 3rem auto 0;
  }
}

/*-------------------MOBILE-------------------*/

@media (max-width: 640px) {
  .header {
    background-image: url("../images/banner-mobile-bw.jpg");
  }

  .header__container {
    flex-flow: column;
    align-items: flex-end;
    width: 92vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .header__logo {
    order: 1;

    width: 40vw;
    margin: 0 auto;
  }

  .menu-burger:checked + .burger__button {
    top: 2.05rem;
    right: 4.12vw;
  }

  .burger__button {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
  }

  .menu-list {
    position: fixed;
    visibility: hidden;

    flex-flow: column;
    align-items: flex-start;
    top: 0;
    right: -100%;

    width: 13rem;
    height: auto;
    max-height: 70%;
    margin: 0;
    padding: 5rem 0;

    color: #c1caca;
    background-color: rgba(53, 53, 53, 0.8);
    overflow: scroll;

    transition-duration: 0.5s;
  }

  .menu__link__box {
    padding: 1rem 1.5rem;
  }

  .menu__link__box:nth-child(n+2) {
    margin-left: 0;
  }

  .menu__link {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .header__title {
    font-size: 0;
  }

  .page-content {
    width: 94vw;
  }

  .post__tegs {
    flex-flow: column;
  }

  .side__tegs {
    margin-right: 0;
    width: 100%;
  }

  .specification {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 7rem;
  }
}
